.footer {
    dispaly: block;
    overflow: auto;
    background-color: rgb(234, 247, 255);
    border-radius: 3px;
    border: 1px solid rgb(209, 227, 239);
    border-right-width: 5px;
    margin: 10px 0;
    padding: 5px 10px;
    font-style: italic;
}

.footer ul.tags {
    float: right;
}

table thead tr {
    border-bottom: 1px solid;
}

table tbody tr td {
    padding: 5px 15px 5px 5px;
}
